@model IEnumerable<bookit.Models.Book>

@{
    ViewData["Title"] = "Gallery";
}

<h2>Book Gallery</h2>
<hr />

@foreach (var book in Model)
{
  <partial name="_BookItem" model="book" />
    <hr />


}